In [11]:
import pandas as pd

dataTrainingAwal = pd.read_csv("DataTraining.csv")
dataUjiAwal = pd.read_csv("DataUji.csv")

print(dataTrainingAwal)
print(dataUjiAwal)

# array = dataTrainingAwal.values

# dataTraining = pd.DataFrame({
#     'ID': array[:, 0],
#     'DATOP': array[:, 1],
#     'FLTID': array[:, 2],
#     'DEPSTN': array[:, 3],
#     'ARRSTN': array[:, 4],
#     'STD': array[:,5],
#     'STA': array[:, 6],
#     'STATUS': array[:, 7],
#     'AC': array[:, 8],
#     'target': array[:, 9]
# })

# print(dataTraining)
print(dataTrainingAwal[0])

                 ID      DATOP     FLTID DEPSTN ARRSTN              STD
0        train_id_0   1/3/2016  TU 0712     CMN    TUN   1/3/2016 10:30  \
1        train_id_1  1/13/2016  TU 0757     MXP    TUN  1/13/2016 15:05
2        train_id_2  1/16/2016  TU 0214     TUN    IST   1/16/2016 4:10
3        train_id_3  1/17/2016  TU 0480     DJE    NTE  1/17/2016 14:10
4        train_id_4  1/17/2016  TU 0338     TUN    ALG  1/17/2016 14:30
...             ...        ...       ...    ...    ...              ...
1994  train_id_1994   6/6/2016  TU 0725     ORY    TUN    6/6/2016 6:00
1995  train_id_1995   6/6/2016  TU 0711     TUN    CMN    6/6/2016 7:00
1996  train_id_1996   6/6/2016  TU 0744     TUN    FRA    6/6/2016 6:55
1997  train_id_1997   6/6/2016  TU 0716     TUN    ORY    6/6/2016 6:50
1998  train_id_1998   6/6/2016  TU 0463     LYS    MIR    6/6/2016 7:50

                      STA STATUS         AC  target
0     2016-01-03 12.55.00    ATA  TU 32AIMN     260
1     2016-01-13 16.55.00    ATA  TU 31BIMO      20
2     2016-01-16 06.45.00    ATA  TU 32AIMN       0
3     2016-01-17 17.00.00    ATA  TU 736IOK       0
4     2016-01-17 15.50.00    ATA  TU 320IMU      22
...                   ...    ...        ...     ...
1994  2016-06-06 08.25.00    ATA  TU 32AIMP      36
1995  2016-06-06 09.40.00    ATA  TU 32AIML       0
1996  2016-06-06 09.30.00    ATA  TU 736IOL       0
1997  2016-06-06 09.10.00    ATA  TU 32AIMG      23
1998  2016-06-06 09.55.00    ATA  TU 736IOK       0

[1999 rows x 10 columns]
                ID      DATOP     FLTID DEPSTN ARRSTN              STD
0    train_id_1999   6/6/2016  TU 0752     TUN    FCO    6/6/2016 8:00  \
1    train_id_2000   6/6/2016  TU 0856     TUN    MXP    6/6/2016 8:00
2    train_id_2001   6/6/2016  TU 0788     TUN    BRU    6/6/2016 7:30
3    train_id_2002   6/6/2016  TU 0514     TUN    BCN    6/6/2016 8:05
4    train_id_2003   6/6/2016  TU 0473     VCE    TUN   6/6/2016 12:00
..             ...        ...       ...    ...    ...              ...
995  train_id_2994  6/17/2016  TU 0227     BEG    TUN  6/17/2016 17:25
996  train_id_2995  6/17/2016  TU 0607     MAD    TUN  6/17/2016 17:25
997  train_id_2996  6/17/2016  TU 0247     SXB    TUN  6/17/2016 16:50
998  train_id_2997  6/17/2016  TU 0723     ORY    TUN  6/17/2016 17:50
999  train_id_2998  6/17/2016  TU 0555     SXB    DJE  6/17/2016 18:00

                     STA STATUS         AC  target
0    2016-06-06 09.20.00    ATA  TU 31BIMQ       0
1    2016-06-06 09.45.00    ATA  TU 736ION       0
2    2016-06-06 10.05.00    ATA  TU 32AIMI      23
3    2016-06-06 09.50.00    ATA  TU 320IMU       0
4    2016-06-06 13.40.00    ATA  TU 320IMS      38
..                   ...    ...        ...     ...
995  2016-06-17 19.25.00    ATA  TU 31BIMQ       0
996  2016-06-17 19.30.00    ATA  TU 320IMS      43
997  2016-06-17 19.05.00    ATA  TU 736IOL      30
998  2016-06-17 20.20.00    ATA  TU 32AIML       0
999  2016-06-17 20.40.00    ATA  TU 736ION      20

[1000 rows x 10 columns]
                 ID      DATOP     FLTID DEPSTN ARRSTN              STD
0        train_id_0   1/3/2016  TU 0712     CMN    TUN   1/3/2016 10:30  \
1        train_id_1  1/13/2016  TU 0757     MXP    TUN  1/13/2016 15:05
2        train_id_2  1/16/2016  TU 0214     TUN    IST   1/16/2016 4:10
3        train_id_3  1/17/2016  TU 0480     DJE    NTE  1/17/2016 14:10
4        train_id_4  1/17/2016  TU 0338     TUN    ALG  1/17/2016 14:30
...             ...        ...       ...    ...    ...              ...
1994  train_id_1994   6/6/2016  TU 0725     ORY    TUN    6/6/2016 6:00
1995  train_id_1995   6/6/2016  TU 0711     TUN    CMN    6/6/2016 7:00
1996  train_id_1996   6/6/2016  TU 0744     TUN    FRA    6/6/2016 6:55
1997  train_id_1997   6/6/2016  TU 0716     TUN    ORY    6/6/2016 6:50
1998  train_id_1998   6/6/2016  TU 0463     LYS    MIR    6/6/2016 7:50

                      STA STATUS         AC target
0     2016-01-03 12.55.00    ATA  TU 32AIMN    260
1     2016-01-13 16.55.00    ATA  TU 31BIMO     20
2     2016-01-16 06.45.00    ATA  TU 32AIMN      0
3     2016-01-17 17.00.00    ATA  TU 736IOK      0
4     2016-01-17 15.50.00    ATA  TU 320IMU     22
...                   ...    ...        ...    ...
1994  2016-06-06 08.25.00    ATA  TU 32AIMP     36
1995  2016-06-06 09.40.00    ATA  TU 32AIML      0
1996  2016-06-06 09.30.00    ATA  TU 736IOL      0
1997  2016-06-06 09.10.00    ATA  TU 32AIMG     23
1998  2016-06-06 09.55.00    ATA  TU 736IOK      0

[1999 rows x 10 columns]