In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

dataTrainingAwal = pd.read_csv("DataTraining.csv")
dataTrainingAwal.head(20)

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target
0,train_id_0,1/3/2016,TU 0712,CMN,TUN,1/3/2016 10:30,2016-01-03 12.55.00,ATA,TU 32AIMN,260
1,train_id_1,1/13/2016,TU 0757,MXP,TUN,1/13/2016 15:05,2016-01-13 16.55.00,ATA,TU 31BIMO,20
2,train_id_2,1/16/2016,TU 0214,TUN,IST,1/16/2016 4:10,2016-01-16 06.45.00,ATA,TU 32AIMN,0
3,train_id_3,1/17/2016,TU 0480,DJE,NTE,1/17/2016 14:10,2016-01-17 17.00.00,ATA,TU 736IOK,0
4,train_id_4,1/17/2016,TU 0338,TUN,ALG,1/17/2016 14:30,2016-01-17 15.50.00,ATA,TU 320IMU,22
5,train_id_5,1/17/2016,TU 0283,TLS,TUN,1/17/2016 16:20,2016-01-17 18.15.00,ATA,TU 736IOP,53
6,train_id_6,1/18/2016,TU 0514,TUN,BCN,1/18/2016 7:15,2016-01-18 09.00.00,ATA,TU 32AIMH,10
7,train_id_7,1/18/2016,TU 0716,TUN,ORY,1/18/2016 7:35,2016-01-18 09.55.00,ATA,TU 32AIMI,15
8,train_id_8,1/18/2016,TU 0752,TUN,FCO,1/18/2016 7:40,2016-01-18 09.00.00,ATA,TU 32AIMC,16
9,train_id_9,1/18/2016,TU 0996,TUN,NCE,1/18/2016 7:45,2016-01-18 09.15.00,ATA,TU 31AIMK,21
10,train_id_10,1/18/2016,TU 0930,TUN,MRS,1/18/2016 7:55,2016-01-18 09.30.00,ATA,TU 32AIMF,12
11,train_id_11,1/20/2016,TU 0724,TUN,ORY,1/20/2016 18:30,2016-01-20 20.50.00,ATA,TU 32AIMP,18
12,train_id_12,1/20/2016,TU 0913,TUN,MED,1/20/2016 19:40,2016-01-21 00.00.00,ATA,TU 320IMR,0
13,train_id_13,1/21/2016,TU 0217,IST,TUN,1/21/2016 20:10,2016-01-21 23.00.00,ATA,TU 320IMU,0
14,train_id_14,1/22/2016,TU 0744,TUN,FRA,1/22/2016 7:05,2016-01-22 09.40.00,ATA,TU 736IOP,18
15,train_id_15,1/22/2016,TU 0706,CMN,TUN,1/22/2016 17:45,2016-01-22 20.10.00,ATA,TU 320IMR,0
16,train_id_16,1/22/2016,TU 0723,ORY,TUN,1/22/2016 18:30,2016-01-22 21.00.00,ATA,TU 332IFN,37
17,train_id_17,1/23/2016,TU 0726,MIR,BRU,1/23/2016 5:30,2016-01-23 08.15.00,ATA,TU 31AIMJ,149
18,train_id_18,1/22/2016,TU 0913,TUN,MED,1/22/2016 19:40,2016-01-23 00.00.00,ATA,TU 320IMT,30
19,train_id_19,1/23/2016,TU 9038,TUN,DJE,1/23/2016 8:50,2016-01-23 09.45.00,ATA,TU 736IOL,19

In [2]:
dataTrainingAwal.columns
dataTrainingAwal.info()
dataTrainingAwal.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      1999 non-null   object
 1   DATOP   1999 non-null   object
 2   FLTID   1999 non-null   object
 3   DEPSTN  1999 non-null   object
 4   ARRSTN  1999 non-null   object
 5   STD     1999 non-null   object
 6   STA     1999 non-null   object
 7   STATUS  1999 non-null   object
 8   AC      1999 non-null   object
 9   target  1999 non-null   int64
dtypes: int64(1), object(9)
memory usage: 156.3+ KB

            target
count  1999.000000
mean     30.875938
std      75.086887
min       0.000000
25%       0.000000
50%      12.000000
75%      30.000000
max    1738.000000

In [3]:
for col in dataTrainingAwal.columns:
    if dataTrainingAwal[col].dtype == 'object':
        print(f'Unique values in column {col}: {dataTrainingAwal[col].unique()}')

Unique values in column ID: ['train_id_0' 'train_id_1' 'train_id_2' ... 'train_id_1996'
 'train_id_1997' 'train_id_1998']
Unique values in column DATOP: ['1/3/2016' '1/13/2016' '1/16/2016' '1/17/2016' '1/18/2016' '1/20/2016'
 '1/21/2016' '1/22/2016' '1/23/2016' '1/24/2016' '1/27/2016' '2/1/2016'
 '2/2/2016' '2/3/2016' '2/4/2016' '2/5/2016' '2/6/2016' '2/7/2016'
 '2/8/2016' '2/10/2016' '2/14/2016' '2/19/2016' '2/22/2016' '2/24/2016'
 '2/28/2016' '2/29/2016' '3/1/2016' '3/5/2016' '3/24/2016' '3/29/2016'
 '4/26/2016' '5/30/2016' '5/31/2016' '6/1/2016' '6/3/2016' '6/4/2016'
 '6/5/2016' '6/6/2016' '6/12/2016' '6/15/2016' '6/18/2016' '6/19/2016'
 '6/20/2016' '6/21/2016' '6/23/2016' '6/24/2016' '6/27/2016' '6/30/2016'
 '7/2/2016' '7/3/2016' '7/8/2016' '7/11/2016' '7/15/2016' '7/16/2016'
 '7/23/2016' '7/25/2016' '7/26/2016' '4/22/2016' '4/23/2016' '4/24/2016'
 '4/25/2016' '4/27/2016' '4/28/2016' '4/29/2016' '4/30/2016' '1/1/2016'
 '1/2/2016' '1/9/2016' '1/11/2016' '1/12/2016' '1/28/2016' '1/31/2016'
 '2/9/2016' '2/15/2016' '2/16/2016' '2/18/2016' '2/21/2016' '2/26/2016'
 '2/27/2016' '3/6/2016' '4/3/2016' '4/6/2016' '4/7/2016' '4/9/2016'
 '4/11/2016' '4/13/2016' '4/12/2016' '4/20/2016' '7/4/2016' '7/9/2016'
 '7/17/2016' '7/18/2016' '7/20/2016' '7/28/2016' '7/29/2016' '7/30/2016'
 '7/31/2016' '8/1/2016' '8/2/2016' '8/3/2016' '8/4/2016' '8/5/2016'
 '8/6/2016' '8/7/2016' '8/9/2016' '8/14/2016' '8/15/2016' '8/16/2016'
 '8/18/2016' '8/19/2016' '8/20/2016' '8/24/2016' '8/26/2016' '8/27/2016'
 '4/10/2016' '4/14/2016' '4/15/2016' '1/10/2016' '1/14/2016' '1/25/2016'
 '2/13/2016' '3/10/2016' '3/11/2016' '3/12/2016' '3/20/2016' '3/26/2016'
 '3/27/2016' '3/31/2016' '4/2/2016' '4/8/2016' '4/18/2016' '6/10/2016'
 '6/14/2016' '6/16/2016' '7/12/2016' '7/14/2016' '7/24/2016' '7/27/2016'
 '8/10/2016' '8/13/2016' '8/17/2016' '1/6/2016' '1/7/2016' '1/15/2016'
 '1/29/2016' '3/14/2016' '3/18/2016' '4/17/2016' '4/21/2016' '6/2/2016'
 '6/13/2016' '6/26/2016' '6/29/2016' '7/6/2016' '4/16/2016' '4/19/2016'
 '1/19/2016' '1/26/2016' '2/11/2016' '2/12/2016' '2/17/2016' '7/1/2016'
 '7/19/2016' '8/8/2016' '8/11/2016' '8/12/2016' '1/4/2016' '1/30/2016'
 '2/20/2016' '3/2/2016' '3/4/2016' '6/9/2016' '6/11/2016' '8/25/2016'
 '8/28/2016' '8/29/2016' '8/30/2016' '8/31/2016' '1/5/2016' '3/16/2016'
 '4/5/2016' '6/7/2016' '7/10/2016' '8/21/2016' '8/22/2016']
Unique values in column FLTID: ['TU 0712 ' 'TU 0757 ' 'TU 0214 ' 'TU 0480 ' 'TU 0338 ' 'TU 0283 '
 'TU 0514 ' 'TU 0716 ' 'TU 0752 ' 'TU 0996 ' 'TU 0930 ' 'TU 0724 '
 'TU 0913 ' 'TU 0217 ' 'TU 0744 ' 'TU 0706 ' 'TU 0723 ' 'TU 0726 '
 'TU 9038 ' 'TU 0717 ' 'TU 0430 ' 'TU 0789 ' 'TU 0711 ' 'TU 0226 '
 'TU 0397 ' 'TU 0398 ' 'TU 0473 ' 'TU 0680 ' 'TU 0700 ' 'TU 0850 '
 'TU 0756 ' 'TU 0208 ' 'TU 0635 ' 'TU 0847 ' 'TU 0881 ' 'TU 0745 '
 'TU 0902 ' 'TU 0515 ' 'TU 0714 ' 'TU 0339 ' 'TU 0319 ' 'TU 0247 '
 'TU 0722 ' 'TU 0719 ' 'TU 0720 ' 'TU 0705 ' 'TU 0718 ' 'TU 0216 '
 'TU 6047 ' 'TU 0851 ' 'TU 6021 ' 'TU 0875 ' 'TU 5505 ' 'TU 0788 '
 'TU 0642 ' 'UG 1300 ' 'TU 0791 ' 'TU 0362 ' 'TU 0848 ' 'TU 6031 '
 'TU 6024 ' 'TU 0998 ' 'TU 0606 ' 'TU 0852 ' 'TU 0999 ' 'TU 0713 '
 'TU 8539 ' 'TU 0695 ' 'TU 0721 ' 'TU 0527 ' 'TU 0790 ' 'UG 1310 '
 'TU 0750 ' 'TU 0856 ' 'TU 0441 ' 'TU 0485 ' 'TU 9041 ' 'TU 0751 '
 'TU 0753 ' 'TU 0813 ' 'TU 0603 ' 'UG 1311 ' 'TU 0564 ' 'TU 0209 '
 'TU 0903 ' 'TU 9147 ' 'TU 0701 ' 'AT 0606 ' 'TU 0538 ' 'TU 0499 '
 'TU 5520 ' 'TU 0251 ' 'TU 0931 ' 'TU 6551 ' 'AT 0624 ' 'TU 0467 '
 'TU 9130 ' 'TU 6548 ' 'TU 0647 ' 'AT 0678 ' 'TU 0634 ' 'TU 0602 '
 'TU 0725 ' 'TU 0874 ' 'AT 0668 ' 'AT 0670 ' 'TU 2604 ' 'TU 0318 '
 'TU 0282 ' 'AT 0695 ' 'TU 0648 ' 'TU 0472 ' 'TU 0246 ' 'TU 0374 '
 'TU 0555 ' 'TU 9011 ' 'TU 9062 ' 'TU 9006 ' 'TU 0250 ' 'TU 0540 '
 'TU 0552 ' 'TU 0595 ' 'TU 0646 ' 'TU 0375 ' 'TU 6023 ' 'TU 0682 '
 'TU 0929 ' 'TU 0928 ' 'TU 0542 ' 'TU 0814 ' 'TU 0735 ' 'TU 6038 '
 'TU 0997 ' 'TU 0643 ' 'TU 6056 ' 'TU 6050 ' 'TU 0708 ' 'TU 0709 '
 'TU 0607 ' 'TU 6027 ' 'TU 0215 ' 'TU 0431 ' 'TU 0681 ' 'TU 0396 '
 'TU 0526 ' 'TU 0628 ' 'TU 9002 ' 'TU 9004 ' 'TU 0463 ' 'TU 0462 '
 'TU 0440 ' 'TU 6592 ' 'TU 0484 ' 'TU 0727 ' 'TU 6057 ' 'TU 9000 '
 'TU 6058 ' 'TU 6496 ' 'TU 0539 ' 'TU 6180 ' 'TU 6593 ' 'TU 3504 '
 'TU 6499 ' 'TU 0541 ' 'TU 0554 ' 'TU 6029 ' 'TU 0363 ' 'TU 8300 '
 'TU 9007 ' 'TU 6549 ' 'UG 1301 ' 'TU 9178 ' 'AT 0626 ' 'AT 0620 '
 'TU 2508 ' 'TU 3428 ' 'TU 2800 ' 'TU 6140 ' 'TU 3061 ' 'TU 3434 '
 'TU 0553 ' 'TU 9015 ' 'TU 6032 ' 'TU 0683 ' 'TU 0694 ' 'TU 0563 '
 'TU 0853 ' 'TU 0613 ' 'TU 6030 ' 'TU 0857 ' 'TU 6037 ' 'TU 6022 '
 'UG 1313 ' 'TU 6044 ' 'TU 9040 ' 'TU 0734 ' 'TU 0395 ' 'TU 9010 '
 'UG 1312 ' 'TU 9017 ' 'TU 0880 ' 'TU 7455 ' 'TU 9013 ' 'AT 0627 '
 'AT 0697 ' 'AT 0685 ' 'TU 0436 ' 'TU 0437 ' 'TU 9031 ' 'TU 9082 '
 'UG 0501 ' 'UG 0008 ' 'AT 0688 ' 'TU 9012 ' 'AT 0684 ' 'TU 9009 '
 'UG 0003 ' 'TU 9064 ' 'TU 6497 ' 'TU 0629 ' 'TU 7241 ' 'UG 0009 '
 'TU 6291 ' 'TU 0543 ' 'TU 6141 ' 'TU 8956 ' 'AT 0694 ' 'TU 0269 '
 'TU 0400 ' 'TU 4750 ' 'TU 3041 ' 'TU 3093 ' 'TU 3036 ' 'TU 0649 '
 'TU 3441 ' 'TU 9029 ' 'TU 0481 ' 'TU 6033 ' 'TU 6034 ' 'TU 7400 '
 'TU 7401 ' 'TU 0614 ' 'TU 9001 ' 'TU 6040 ' 'TU 6042 ' 'TU 0914 '
 'TU 0594 ' 'TU 5501 ' 'TU 9975 ' 'TU 6290 ' 'TU 3528 ' 'TU 8711 '
 'TU 6153 ' 'TU 8532 ' 'TU 4751 ' 'TU 0202 ' 'TU 7240 ' 'TU 0248 '
 'UG 1851 ' 'UG 1850 ' 'TU 9003 ' 'AT 0669 ' 'AT 0696 ' 'TU 0466 '
 'TU 7236 ' 'TU 0249 ' 'TU 5025 ' 'TU 3182 ' 'AT 0671 ' 'AT 0679 '
 'TU 3252 ' 'TU 3254 ' 'TU 3255 ' 'TU 3027 ' 'TU 9037 ' 'TU 9100 '
 'TU 3253 ' 'TU 3025 ' 'TU 3234 ' 'TU 3418 ' 'TU 3050 ' 'TU 3306 '
 'TU 3424 ' 'TU 3425 ' 'TU 3235 ' 'TU 3307 ' 'TU 3031 ' 'TU 3019 '
 'TU 3051 ' 'TU 3037 ' 'TU 5040 ' 'TU 3052 ' 'TU 6028 ' 'TU 6049 '
 'TU 6048 ' 'TU 0227 ' 'TU 9039 ' 'AT 0682 ' 'TU 6231 ' 'TU 0508 '
 'AT 0167 ' 'TU 3402 ' 'TU 9177 ' 'TU 3431 ' 'TU 2520 ' 'TU 2518 '
 'TU 9144 ' 'TU 2519 ' 'TU 5001 ' 'TU 3161 ' 'UG 0042 ' 'TU 8271 '
 'TU 6152 ' 'UG 0500 ' 'UG 1731 ' 'UG 0010 ' 'TU 9005 ' 'TU 8538 '
 'TU 9095 ']
Unique values in column DEPSTN: ['CMN' 'MXP' 'TUN' 'DJE' 'TLS' 'IST' 'ORY' 'MIR' 'BRU' 'ABJ' 'VCE' 'AMS'
 'FRA' 'BCN' 'JED' 'ALG' 'LIS' 'SXB' 'LYS' 'OUA' 'LGW' 'BEY' 'NCE' 'OPO'
 'MRS' 'DUS' 'SFA' 'FCO' 'CDG' 'NKC' 'NTE' 'ZRH' 'GVA' 'OUD' 'MUC' 'SXF'
 'HAM' 'NDR' 'NBE' 'CAI' 'BEG' 'VIE' 'ORN' 'MAD' 'TOE' 'BKO' 'DKR' 'KGL'
 'BLQ' 'MLA' 'AHU' 'LHR' 'BOD' 'PRG' 'LJU' 'SVO' 'MED' 'BUD' 'ARN' 'CPH'
 'CRL' 'OST' 'TNG' 'GAF' 'NAP']
Unique values in column ARRSTN: ['TUN' 'IST' 'NTE' 'ALG' 'BCN' 'ORY' 'FCO' 'NCE' 'MRS' 'MED' 'FRA' 'BRU'
 'DJE' 'LYS' 'CMN' 'BEG' 'OUA' 'GVA' 'MXP' 'BEY' 'MAD' 'JED' 'ABJ' 'VIE'
 'MLA' 'BLQ' 'SFA' 'LIS' 'LHR' 'CDG' 'MIR' 'CAI' 'DUS' 'HAM' 'NBE' 'ZRH'
 'AMS' 'NDR' 'TLS' 'VCE' 'SXB' 'MUC' 'LGW' 'CRL' 'ORN' 'DKR' 'BOD' 'SXF'
 'LJU' 'OST' 'NKC' 'BKO' 'TOE' 'AHU' 'YUL' 'PRG' 'CPH' 'ARN' 'OUD' 'BRQ'
 'GAF' 'JIB' 'BUD' 'OPO']
Unique values in column STD: ['1/3/2016 10:30' '1/13/2016 15:05' '1/16/2016 4:10' ... '6/6/2016 6:55'
 '6/6/2016 6:50' '6/6/2016 7:50']
Unique values in column STA: ['2016-01-03 12.55.00' '2016-01-13 16.55.00' '2016-01-16 06.45.00' ...
 '2016-06-06 09.40.00' '2016-06-06 09.30.00' '2016-06-06 09.55.00']
Unique values in column STATUS: ['ATA' 'DEP' 'RTR' 'SCH' 'DEL']
Unique values in column AC: ['TU 32AIMN' 'TU 31BIMO' 'TU 736IOK' 'TU 320IMU' 'TU 736IOP' 'TU 32AIMH'
 'TU 32AIMI' 'TU 32AIMC' 'TU 31AIMK' 'TU 32AIMF' 'TU 32AIMP' 'TU 320IMR'
 'TU 332IFN' 'TU 31AIMJ' 'TU 320IMT' 'TU 736IOL' 'TU 31BIMQ' 'TU 736IOR'
 'TU 320IMV' 'TU 320IMS' 'TU 332IFM' 'TU 320IMW' 'TU 32AIML' 'TU 32AIMD'
 'TU 32AIMM' 'TU CR9ISA' 'TU 32AIMG' 'TU 736ION' 'TU 736IOM' 'TU 736IOQ'
 '5M 343SUN' 'UG AT7LBD' '5K 343TQY']